* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body,
html {
  overflow-x: hidden;
}

nav {
  background-color: #b692c2 !important;
}

nav ul li a {
  font-family: "Kalam", cursive;
  font-size: 18px;
}

.brand-logo {
  font-family: "Kalam", cursive;
}

.container-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  margin: auto;
}

.Toastify__toast-body > div:last-child {
  font-weight: 600 !important;
  color: #1c1c1c !important;
  font-family: "Kalam", cursive !important;
}

.error-container {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .error-container > img {
    width: 100%;
  }
}

.error-container > h4 {
  font-family: "Kalam", cursive !important;
  font-weight: 700;
}
